substrate-email {
    display: block;

    & label {
        & .label.error {
            display: flex;
            justify-content: space-between;
        }

        & span.errormsg {
            text-decoration: underline var(--error, red);
        }
    }

    & input {
        width: 100%;
        padding: 0.4em;
        font-size: 1rem;
        border-radius: 0;
        border: 1px solid;
    }
}
